<div id="comment_container">
    <div id="comment_section" class="display comments">
        <form id="post-<%= ans._id %>-comments-form" action="/comment/create" method="POST">
        <div id="comment_option">
            <img src="<%=user.avatar%>" onerror=this.src="<%=assetPath('images/user.png')%>">
            <input type="text" name="content" placeholder="Add a comment">
            <input type="hidden" name="post" value="<%=post._id%>">
            <input type="hidden" name="answer" value="<%=ans._id%>">
            <input type="hidden" name="user" value="<%=user._id%>">
           
            <a href="#" id="comment_add"><button id ="comment_submit" type="submit">Add Comment</button></a>
        </div>
    </form>
    <div id="post-comments-<%= ans._id %>">
    <%for(comment of ans.comments){%>
        <div id="comment-<%= comment._id %>"class="comment_card">
            <div id="comment_header">
                <img src="<%=comment.user.avatar%>" onerror=this.src="<%=assetPath('images/user.png')%>">
                <div>
                    <%var time = comment.createdAt.toString().slice(11,24)%>
                     <%var time1 = comment.createdAt.toString().slice(0,10)%>
                    <h2><%=comment.user.name%></h2>
                    <h3><%=time1 %>,<%=time%></h3>
                   
                </div>
               
            </div>
            <div id="comment_content">
               <%=comment.content%>
            </div>
            <div id="comment_interact">
                <%if(locals.user){%><a href="/likes/toggle/?id=<%=comment._id%>&type=Comment" class="toggle-like-button" data-likes="<%=comment.likes.length%>"><span><i class="fas fa-arrow-up"></i><span><%=comment.likes.length %></span></span></span></a><%}else{%>
                    <%=comment.likes.length%> Upvotes <%}%>
                <a href="#"><span><i class="fas fa-reply"></i></span>Reply</a>
                <!-- <a href="#"><span><i class="fas fa-heart"></i></span>Like</a> -->
                <%if(locals.user && user.id==comment.user.id){%>
                    <a class="delete-comment-button" href="/comment/destroy/<%=comment._id%>"><span><i class="fas fa-trash"></i></span>Delete comment</a>
                <div class="c_dropdown">
                    <!-- three dots -->
                    <ul class="c_dropbtn icons btn-right showLeft">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <!-- menu -->
                    <div id="c_myDropdown" class="c_dropdown-content">
                        <a class="delete-comment-button" href="/comment/destroy/<%=comment._id%>">Delete comment</a>
                        <a href="#about">Edit</a>
                    </div>
                </div>
                <%}%>

            </div>
        </div>
        <%}%>
    </div>
    </div>
</div>