<link rel="stylesheet" type="text/css" href="<%=assetPath('css/answer.css')%>">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<div id="home-container">
    <div id="left_aside">
        <div id="left_header">Questions</div>
        <a href="#">Question for you</a>
        <a href="#">Your answered question</a>
        <a href="#">Answer requests</a>
        <a href="#">Answer Later</a>
        
    </div>

    <div id="main">
        <div id="question">
            <span><i class="fas fa-question"></i></span><span>Questions For You</span>         
         </div>
            
            <%for(let post of posts){%>
                <%if(post.user.id != temp.id){%>
                   
             <div id="unanswered">
             <div id="header"><span>Question added</span><a href="#"><span>-<%=post.topic%></span></a></div>
             <div id="unanswered_content">
                <div id="content"><a href="#"><%=post.content%></a></div>
                 <div id="content_key"><a></a><span><b><%=post.answers.length%> Answer</b></span></a><span>-Last followed 20m ago</span></div>
             </div>
             <div id="interact">
                 <%var flag=false;for(let answer of temp.answers){%>
                    <%if(answer.question.id == post.id){flag=true;}%>
                <%}%>
                <%if(flag){%>
                    <a id="checked"><span  class="margin"><span><i class="fas fa-check-square"></i></span><span>Answered</span></span></a>
                    <%}else{%>
                    <a id="ans"><span  class="margin"><span><i class="fas fa-edit"></i></span><span>Answer</span></span></a>
                 <%}%>
                 <a href="#" id="pass"><span class="margin"><i class="fas fa-sync"></i><span></span><span>Pass</span></span></a>
                 <a href="#" id="req"><span class="margin"><i class="fas fa-users"></i><span></span><span>Request Answer</span></span></a>
                 <a href="#" id="follow"><span class="margin"><i class="fas fa-rss"></i><span></span><span>Follow</span><span>3</span></span></a>
              </div>
         </div>
         <%if(!flag){%>
         <div id="editor" class="display">
             <form method="POST" action="/answer/create">
             <textarea id="text" name="content"></textarea>
             <input name="topic" value="<%=post.topic%>" type="hidden">
             <input name="question" value="<%=post._id%>" type="hidden">
             <!-- <input name="user" value="<%=user._id%>" type="hidden"> -->
             </br>
             <button type="submit" id="editor_submit">Sumbit</button>
             <a id="editor_cancel" class="cancel">Cancel</a>
             </form>
         </div>
         <%flag=false;}%>
            <%}else{%>
               
                <%}%>
        <%}%>            

         
    </div>

    <%var upCount=0%>
    <%for(let like of temp.answers){%>
        <%upCount+=like.likes.length%>
        <%}%>

    <div id="aside">
        <div id="stat-box">
            <div id="stat_header">
                <span><i class="fas fa-chart-bar"></i></span>
                <span>Your Stats</span>
            </div>
            <div id="table">
                <div></div>
                <div>Answered</div>
                <div>Upvotes</div>
                <div>Shares</div>
            </div>
            <div id="table_content">
                <div id="content">
                    <div>Today</div>
                    <div><%=temp.answers.length%></div>
                    <div><%=upCount%></div>
                    <div>500</div>
                </div>

                <div id="content">
                    <div>This Week</div>
                    <div><%=temp.answers.length%></div>
                    <div><%=upCount%></div>
                    <div>500</div>
                </div>

                <div id="content">
                    <div>This Month</div>
                    <div><%=temp.answers.length%></div>
                    <div><%=upCount%></div>
                    <div>500</div>
                </div>

                <div id="content">
                    <div>This Year</div>
                    <div><%=temp.answers.length%></div>
                    <div><%=upCount%></div>
                    <div>500</div>
                </div>
            </div>

            <div id="stat_footer"></div>
        </div>
    </div>
    </div>
    </div>
    <!-- <script type="text/javascript" src="/ckeditor/ckeditor.js"></script> -->
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script> 
    
    <script type="text/javascript" src="<%=assetPath('js/answer.js')%>"></script>
  
   
 