
<% if(!locals.user){%>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/sign_up.css">
<link rel="stylesheet" type="text/css" href="/css/home.css">

<div id="top_header">
    <h1>A Place to Share & Grow Knowledge</h1>
</div>

<div id="content">
    <p>GuruShisya is a educational platform to share & get knowledge.It is a symbol of the pure relationship of the Guru & Shishya followed by the traditional vedic culture. </p>
</div>
<main>
 <div id="signup_container">
 <form id="signup" method="POST" action="/user/create">
 <h2>Create account</h2>
 <div id="form_input">
 <input type="text" name="name" placeholder="Your Name" required autofocus class="form-control">
 <input type="email" name="email" placeholder="Email" required autofocus="" class="form-control">
 <!-- <label for="password">Password</label></br> -->
 <input type="password" name="password" placeholder="Password" autofocus class="form-control" required="">
 <div id="divider">
 <hr class="one"><span>OR</span>
 </div>
 <div id="social_container">
 <a href="#"><div id="facebook" class="form-control"><span><img src="/images/fb.png"></span><span>Facebook</span></div></a>
 <a href="#"><div id="google" class="form-control"><span><img src="/images/google1.png"></span><span>Google</span></div></a>
 </div>
 <input type="submit" value="Create account"class="form-control">
 <div class="footer"><span>By clicking"Create account"you agree to the </span><span><a href="#" class="link_bottom">Terms & Privacy Policy</a></span></div>
 <div class="footer"><span>Already have an account? </span><span><a href="#" class="link_bottom">Sign in</a></span></div>
 </div>
</form>
</div>
</main>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
<script type="text/javascript" src="/js/sign_up.js"></script> 

<%}else{%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
   <div id="home-container">
   <div id="Feed">
   <div id="journey">
    <div class="card">
        <img src="images/logo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href=""><h5 class="card-title">Share Your Journey</h5></a>
          <p class="card-text">Sharing your journey with us is the best way to inspire and motivate our community. You can also add images, videos, text, etc. to give a good visualization of your journey to success. </p>
        </div>
      </div>
   </div>

   </div>
   <div id="main">
       <div id="question">
           <h3>Hii <%=user.name%></h3>
           <form method="POST" action="/post/create">
           <textarea autofocus placeholder="What is your question or link?" name="content"></textarea>
           <div id="btn">
               <select required name="topic">
                   <option disabled selected>Topic</option>
                   <option>Physics</option>
                   <option>Chemistry</option>
                   <option>Computer Science</option>
                   <option>History</option>
               </select>
               <button type="submit">Add Question</button>
            </form>
           </div>
           <%for(post of posts){%><%if(!(post.answers && post.answers.length)){%>
           <%}else{%>
           <div id="answer_container"> 
                <div id="question_asked">
                    <h3>Question asked by <%=post.user.name%></h3>
                    <h1><%=post.content%></h1>
                </div>
            <%for(ans of post.answers){%>
           <div id="topic_answered">
                 <div id="author_image">
                     <img src="/images/logo.jpg">
                     <a href="#"><span  class="margin"><span><i class="fas fa-rss"></i></span><span>Follow</span></span></a>
                 </div>
                <div id="topic_content">
                    <div id="author_header"><span><%=ans.user.name%></span><b>Answered this question</b>
                        <span style="font-size:small">
                            <%if(locals.user && user.id==ans.user.id){%>
                                <div class="dropdown">
                                    <!-- three dots -->
                                    <ul class="dropbtn icons btn-right showLeft">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <!-- menu -->
                                    <div id="myDropdown" class="dropdown-content">
                                        <a href="/answer/destroy/<%=ans.id%>">Delete Answer</a>
                                        <a href="#about">Edit Answer</a>
                                    </div>
                                </div>
                                <%}%>
                
                        </span>
                    </div>
                    <div id="author_content">
                        <div id="ans"><p><%=ans.content%></p></div>
                    </div>
                    <div id="author_interact">
                        <a href="#"><span><i class="fas fa-chevron-circle-up"></i>Upvote</span></a>
                        <a href="#"><span><i class="fas fa-sync"></i>Share</span></a>
                        <a href="#" id="comment"><span><i class="fas fa-comment"></i>Comment</span></a>
                        <a href="#"><span><i class="fas fa-eye"></i>500</span></a>
                    </div>
                   
                    <div id="comment_section" class="display">
                        <form action="/comment/create" method="POST">
                        <div id="comment_option">
                            <img src="/images/logo.jpg">
                            <input type="text" name="content" placeholder="Add a comment">
                            <input type="hidden" name="post" value="<%=post._id%>">
                            <input type="hidden" name="answer" value="<%=ans._id%>">
                            <input type="hidden" name="user" value="<%=user._id%>">
                           
                            <a href="#" id="comment_add"><button type="submit">Add Comment</button></a>
                        </div>
                    </form>
                    <%for(comment of ans.comments){%>
                        <div id="comment_card">
                            <div id="comment_header">
                                <img src="/images/logo.jpg">
                                <div>
                                    <h2><%=comment.user.name%></h2>
                                    <h3>May 25</h3>
                                </div>
                               
                            </div>
                            <div id="comment_content">
                               <%=comment.content%>
                            </div>
                            <div id="comment_interact">
                                <a href="#"><span><i class="fas fa-reply"></i></span>Reply</a>
                                <a href="#"><span><i class="fas fa-heart"></i></span>Like</a>
                                <%if(locals.user && user.id==comment.user.id){%>
                                <div class="dropdown">
                                    <!-- three dots -->
                                    <ul class="c_dropbtn icons btn-right showLeft">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <!-- menu -->
                                    <div id="c_myDropdown" class="dropdown-content">
                                        <a href="/comment/destroy/<%=comment.id%>">Delete comment</a>
                                        <a href="#about">Edit</a>
                                    </div>
                                </div>
                                <%}%>
                
                            </div>
                        </div>
                        <%}%>
                    </div>
               

                </div>
           </div>
           <%}%>
        </div>  
        <%}%>
        <%}%>
           
         
    </div>
   </div>
   <div id="aside">
       <div id="our_blogs">
           <div id="blogs_header"><h2>Our Blogs</h2></div>
           <div id="blogs_content">
               <ul>
                   <div><a href="#"><li>This is my First Blog in this website</li></a></div>
                   <div><a href="#"><li>This is my Second Blog in this website</li></a></div>
                   <div><a href="#"><li>This is my First Blog in this website</li></a></div>
                   <div><a href="#"><li>This is my Second Blog in this website</li></a></div>
                   <div><a href="#"><li>This is my First Blog in this website</li></a></div>
                   <div><a href="#"><li>This is my Second Blog in this website</li></a></div>
                   <div><a href="#"><li>This is my First Blog in this website</li></a></div>
                   <div><a href="#"><li>This is my Second Blog in this website</li></a></div>
                   <div><a href="#"><li>This is my First Blog in this website</li></a></div>
                   <div><a href="#"><li>This is my Second Blog in this website</li></a></div>

               </ul>
           </div>
       </div>
   </div>
   </div>
   </div>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script src="/js/home.js"></script>
    <%}%>