
<% if(!locals.user){%>
    <%-include('_home-signin');%>

<%}else{%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
   <div id="home-container">
    <%-include('_home-feed');%>
   <div id="main">
       <div id="question">
           <h3>Hii <%=user.name%></h3>
           <form method="POST" action="/post/create">
           <textarea autofocus placeholder="What is your question or link?" name="content"></textarea>
           <div id="btn">
               <select required name="topic">
                   <option disabled selected>Topic</option>
                   <option>Physics</option>
                   <option>Chemistry</option>
                   <option>Computer Science</option>
                   <option>History</option>
               </select>
               <button type="submit">Add Question</button>
            </form>
           </div>
           <%for(post of posts){%><%if(!(post.answers && post.answers.length)){%>
           <%}else{%>
           <div id="answer_container"> 
                <div id="question_asked">
                    <p>Question asked by <b><%=post.user.name%></b></p>
                    <h1><%=post.content%></h1>
                </div>
            <%for(ans of post.answers){%>
           <div class="topic_answered" id="post-<%= ans._id %>" data="<%= ans._id %>">
                 <div id="author_image">
                     <img src="<%=ans.user.avatar%>">
                     <a href="#"><span  class="margin"><span><i class="fas fa-rss"></i></span><span>Follow</span></span></a>
                 </div>
                <div id="topic_content">
                    <div id="author_header"><span><%=ans.user.name%></span><b>Answered this question</b>
                        <span style="font-size:small">
                            <%if(locals.user && user.id==ans.user.id){%>
                                <div class="dropdown">
                                    <!-- three dots -->
                                    <ul class="dropbtn icons btn-right showLeft">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <!-- menu -->
                                    <div id="myDropdown" class="dropdown-content">
                                        <a href="/answer/destroy/<%=ans.id%>">Delete Answer</a>
                                        <a href="#about">Edit Answer</a>
                                    </div>
                                </div>
                                <%}%></br>
                                <h3><%=ans.createdAt.toString().slice(4,10)%></h3>
                                
                
                        </span>
                    </div>
                    <div id="author_content">
                        <div id="ans"><p><%=ans.content%></p></div>
                    </div>
                    <div id="author_interact">
                        <a href="#"><span><i class="fas fa-chevron-circle-up"></i>Upvote</span></a>
                        <a href="#"><span><i class="fas fa-sync"></i>Share</span></a>
                        <a href="#" id="comment"><span><i class="fas fa-comment"></i>Comment</span></a>
                        <a href="#"><span><i class="fas fa-eye"></i>500</span></a>
                    </div>
                   <div id="comment_container">
                    <div id="comment_section" class="display comments">
                        <form id="post-<%= ans._id %>-comments-form" action="/comment/create" method="POST">
                        <div id="comment_option">
                            <img src="<%=user.avatar%>">
                            <input type="text" name="content" placeholder="Add a comment">
                            <input type="hidden" name="post" value="<%=post._id%>">
                            <input type="hidden" name="answer" value="<%=ans._id%>">
                            <input type="hidden" name="user" value="<%=user._id%>">
                           
                            <a href="#" id="comment_add"><button type="submit">Add Comment</button></a>
                        </div>
                    </form>
                    <div id="post-comments-<%= ans._id %>">
                    <%for(comment of ans.comments){%>
                        <div id="comment-<%= comment._id %>"class="comment_card">
                            <div id="comment_header">
                                <img src="<%=comment.user.avatar%>">
                                <div>
                                    <h2><%=comment.user.name%></h2>
                                    <h3>May 25</h3>
                                </div>
                               
                            </div>
                            <div id="comment_content">
                               <%=comment.content%>
                            </div>
                            <div id="comment_interact">
                                <a href="#"><span><i class="fas fa-reply"></i></span>Reply</a>
                                <a href="#"><span><i class="fas fa-heart"></i></span>Like</a>
                                <%if(locals.user && user.id==comment.user.id){%>
                                    <a class="delete-comment-button" href="/comment/destroy/<%=comment.id%>"><span><i class="fas fa-trash"></i></span>Delete comment</a>
                                <div class="dropdown">
                                    <!-- three dots -->
                                    <ul class="c_dropbtn icons btn-right showLeft">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <!-- menu -->
                                    <div id="c_myDropdown" class="c_dropdown-content">
                                        <a class="delete-comment-button" href="/comment/destroy/<%=comment.id%>">Delete comment</a>
                                        <a href="#about">Edit</a>
                                    </div>
                                </div>
                                <%}%>
                
                            </div>
                        </div>
                        <%}%>
                    </div>
                    </div>
                </div>
               

                </div>
           </div>
           <%}%>
        </div>  
        <%}%>
        <%}%>
           
         
    </div>
   </div>
    <%-include('_home-aside');%>
   </div>
   </div>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
   <script src="/js/home.js"></script>
   <script src="/js/comment.js"></script>
    <%}%>