<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" type="text/css" href="<%=assetPath('css/layout.css')%>">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <!-- -------------------------Messages----------------------- -->

        <%-style%>
    </head>

<body>
    
    
    <%-include('boot_header')%>
    <%-body%>   
    
    <script>
        <%if(flash.success && flash.success.length>0){%>
                new Noty({
                      theme:'relax',
                      text: '<%=flash.success%>',
                      type:'success',
                      layout:'topRight',
                      timeout:1500
                }).show();

        <%}%>

        <%if(flash.error && flash.error.length>0){%>
                new Noty({
                      theme:'relax',
                      text: '<%=flash.error%>',
                      type:'error',
                      layout:'topRight',
                      timeout:1500
                }).show();

        <%}%>
    </script>
    <script src="<%=assetPath('js/header.js')%>"></script>
</body>

</html>