<% if(!locals.user){%>
  <%-include('_home-signin');%>

<%}else{%>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="<%=assetPath('css/post.css')%>">
    <link rel="stylesheet" media="screen and (min-width: 480px)" href="<%=assetPath('css/home_media.css')%>">
   <div id="home-container">
      <div id="left_aside">
        <%-include('_home-feed');%>
      </div>

      <div id="center">
          <div id="question">
              <h3>Hii <%=user.name%></h3>
              <form method="POST" action="/post/create">
              <textarea placeholder="What is your question or link?" name="content" autofocus></textarea>
              <div id="btn">
                  <select required name="topic">
                      <option disabled selected>Topic</option>
                      <option>Physics</option>
                      <option>Chemistry</option>
                      <option>Computer Science</option>
                      <option>History</option>
                  </select>
                  <button type="submit">Add Question</button>
                </div>
               </form>
              </div>
              <div id="answer_list">
              <%for(post of posts){%><%if(!(post.answers && post.answers.length)){%>
              <%}else{%>
              <div id="answer_container"> 
                   <div id="question_asked">
                       <p>Question asked by <a href="/profile/user/<%=post.user._id%>"><b><%=post.user.name%></b></a></p>
                       <span><%=post.content%></span><span id="see_all"><a href="">See all answers</a></span>
                   </div>
                   <%var max=0,value;%>
               <%for(ans of post.answers){%>
                <%if(ans.likes.length>max){max=ans.likes.length;value=ans;}%>
               <%}%>
              <%-include('answered')%>
           </div>  
           
   
           <%}%>
       
           <%}%>
        </div>
              
            
      </div>
      
      <div id="right_aside">
        <%-include('_home-aside');%>
      </div>
   </div>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
   <script src="<%=assetPath('js/post.js')%>"></script>
   <script src="<%=assetPath('js/comment.js')%>"></script>
   <script src="<%=assetPath('js/toggle_likes.js')%>"></script>
   <script src="<%=assetPath('js/toggle_follow.js')%>"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
   <script src="<%=assetPath('js/user_interaction_notification.js')%>"></script>
<script>
       $('.toggle-like-button').each(function()
       {
           let self= this;
           let toggleLike = new ToggleLike(self);
       });

       $('.delete-post-button').each(function()
       {
           let self= this;
           let deleteAnswer = deletePost(this);
       });
  
       $('.toggle-follow-button').each(function()
        {
            let self= this;
            let togglefollow = new ToggleFollow(self);
        });

</script>
 <%}%>
