<link rel="stylesheet" type="text/css" href="/css/profile.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<main>

  
    <div id="profile_container">
    <div id="profile_info">
      <div id="profile_header">
        <div id="image">
          <img src="<%=profile_user.avatar%>" onerror=this.src="/images/user.png" >
          <%if(locals.user.id == profile_user.id){%>
            <a href="#" id="edit_photo">Edit Photo</a>
            <%}%>
        </div>
        
        <div id="profile_name">
          <div><h1><%=profile_user.name%></h1></div>
          <span><a href="#"><b><%=profile_user.follower.length%></b> Follower</a></span>
          <span><a href="#"><b><%=profile_user.following.length%></b> Following</a></span>
          <span><a href="#" id="message_btn"><i class="fas fa-envelope"></i> Message</a></span>
        </div>

      </div>
      <div id="profile_credential">
        <div id="edit_profile">
          <%if(locals.user.id == profile_user.id){%>
          <button class="c_grey" id="edit_btn">Edit Profile</button>
          <%}else{%>
            <%var flag = false;for(u of user1){%>
            <%if(u.id == profile_user.id){%>
              <%flag=true}%>
              <%}%>
            <%if(!flag){%>
            <a href="/follow/toggle/<%=profile_user._id%>" class="toggle-follow-button" data-follows="<%=profile_user.follower.length%>"><button class="c_grey c_blue" id="follow_btn"><i class="fas fa-rss"></i>  Follow</button></a>
            <%}else{%>
              <a href="/follow/toggle/<%=profile_user._id%>" class="toggle-follow-button" data-follows="<%=profile_user.follower.length%>"><button class="c_grey" id="follow_btn"><i class="fas fa-check-square"></i> Following</button></a>
              <%}%>
            <%}%>
          <%if(profile_user.description){%>
            <p><%=profile_user.description%></p>
          <%}%>
          <%if(profile_user.email){%>
            <p><span><i class="fas fa-edit"></i></span><span><%=profile_user.email%></span></p>
          <%}%>
          <%if(profile_user.office){%>
            <p><span><i class="fas fa-building"></i></span><span><%=profile_user.office%></span></p>
          <%}%>
          <%if(profile_user.education){%>
            <p><span><i class="fas fa-user-graduate"></i></span><span><%=profile_user.education%></span></p>
          <%}%>
          <%if(profile_user.location){%>
            <p><span><i class="fas fa-map-marker-alt"></i></span><span><%=profile_user.location%></span></p>
          <%}%>
          <%if(profile_user.website){%>
            <p><span><i class="fas fa-paperclip"></i></span><span><%=profile_user.website%></span></p>
          <%}%>

        </div>

        <div id="credential_input" class="display">
          <form action="/user/update/<%=profile_user._id%>" method="POST" enctype="multipart/form-data" id="edit_form">
            <input class="display" id="imageUpload" type="file" name="avatar" placeholder="Photo">
            <!-- <input type="file" name="avatar" placeholder="Photo"> -->
            <textarea name="description" placeholder="Add a bio"><%=user.description%></textarea></br>
            <span><i class="fas fa-edit"></i></span><span><input type="text" name="name" placeholder="Update Name" value="<%=user.name%>"></span></br>
            <span><i class="fas fa-building"></i></span><span><input type="text" name="office" placeholder="Office" value="<%=user.office%>"></span></br>
            <span><i class="fas fa-user-graduate"></i></span><span><input type="text" name="education" placeholder="College" value="<%=user.education%>"></span></br>
            <span><i class="fas fa-map-marker-alt"></i></span><span><input type="text" name="location" placeholder="Location" value="<%=user.location%>"></span></br>
            <span><i class="fas fa-paperclip"></i></span><span><input type="text" name="website" placeholder="Website" value="<%=user.website%>"></span></br>
            <!-- <span><i class="fas fa-sync"></i></span><span><input type="text" name="office" placeholder="Office"></span></br> -->
            <button id="form_save" type="submit">Save</button>
            <!-- <input type="submit" value="Save"> -->
            <a href="#" id="form_cancel">Cancel</a>
          </form>
        </div>
      </div>
      <div id="profile_interests"></div>
    </div>
    <div id="profile_space">
      <div id="profile_nav">
        <a href="#" id="overview">Overview</a>
        <a href="/profile/question/<%=profile_user._id%>">Questions<span><%=profile_user.questions.length%></span></a>
        <a href="/profile/answer/<%=profile_user._id%>">Answers<span><%=profile_user.answers.length%></span></a>
        <a href="#">Shares</a>
        <a href="/profile/follower/<%=profile_user._id%>">Followers<span><%=profile_user.follower.length%></span></a>
        <a href="/profile/following/<%=profile_user._id%>">Following<span><%=profile_user.following.length%></span> </a>
        <a href="#">More</a>
        <%if(locals.user.id == profile_user.id){%>
        <a href="/user/sign-out"><b>Sign out</b></a>
        <%}%>
      </div>
      <div id="profile_space_content">
     
      </div>
    </div>
    <div id="chat_box">
      <div id="chat_header">
        <h3>Himalay Kashyap<span id="margin">_</span><span id="message_close"> X</span></h3>
      </div>
      <div id="message_body">
          <div id="message_content">
                <ul id="chat-message-list">
                  <!-- <li class="other-message"><span>Other Message</span></li>
                  <li class="self-message"><span>Self Message</span></li> -->
                </ul>
          </div>
          <div id="input_message">
            <form>
              <input id="chat-message-input" type="text" placeholder="Your Message Here...." name="message" required>
              <button id="send-message" type="submit">Send</button>
            </form>
          </div>
      </div>
    </div>
    </div>
  
 







</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="/js/profile.js"></script>
<script src="/js/toggle_follow.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<%if(locals.user){%>
<script>
  $('.toggle-follow-button').each(function()
  {
      let self= this;
      let togglefollow = new ToggleFollow(self);
  });

</script>

<%}%>
<script>
  new ChatEngine('chat_box','<%= locals.user.email %>')
</script>
